@import './reset.css';

html, body {
    background-color: #303030;
    color: #000000;
}

#app {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.mainwindow {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.walletbutton {
    align-content: center;
    display: flex;
    justify-content: right;
}

.value-edit {
    align-items: center;
    font-family: monospace;
    display: flex;
    justify-content: right;
    margin-bottom: 6px;
}

.value-edit .label {
    margin-bottom: 6px;
}

.value-edit .input {
    background: #fffffff;
    margin-bottom: 6px;
    border-color: #fa9a65;
    border-radius: 10px;
    border-width: 4px;
}

.value-edit .input-readonly {
    border-color: transparent;
    background: transparent;
    margin-bottom: 6px;
}

.value-edit .input-failed {
    background: #c10000;
    border-color: #f10000;
    border-radius: 10px;
    margin-bottom: 6px;
    border-width: 4px;
}

.tab {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.tabheader {
    width: 100%;
    padding: 14px 16px;
    display: flex;
    justify-content: space-between;
}

  /* Style the buttons that are used to open the tab content */
.tabbutton {
    border-radius: 10px;
    background-color: #9e1ffa;
    float: left;
    border-style: dashed;
    border-color: #fa911f;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 45%;
}

  .tabledata {
      width: 50%
  }

.tableheader {
    width: 50%;
}
  
  /* Change background color of buttons on hover */
  .tabbutton:hover {
    background-color: #c51ffa;
  }
  
/* Create an active/current tablink class */
.tabbutton-active {
    border-radius: 10px;
    background-color: #fa6e1f;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    width: 45%;
}

/* Style the tab content */
.tabcontent {
    min-height: 100%;
    display: block;
    background: #9e1ffa;
    border-radius: 12px;
    padding: 6px 12px;
    border-top: none;
}

.tabcontent .inactive {
    display: none;
}
