@import './reset.css';

html, body {
    background-color: #303030;
    color: #ffffff;
}

:root {
    --background: #636983;
    --active: #e5a2e2;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background-color: var(--background);
    background-size: 100vw
}

.mainwindow {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.walletbutton {
    align-content: center;
    display: flex;
    justify-content: right;
    height: 5vh;
}

input {
    font-family: monospace;
    border-color: transparent;
    border-radius: 2px;
    margin: 1px;
    transition-duration: 0.5s;
    align-content: end;
}

.datalist input {
    width: 60px;
}

input:focus {
    box-shadow: 0px 0px 4px 4px #ffffff;
}

input[type="text"]:read-write {
    background: #b967de;
}

input[type="text"]:read-only {
    background: transparent;
    color: #b967de;
}

input[class~="invalid"]:read-write {
    background: #3a1344;
    box-shadow: 0px 0px 4px 4px #f10000;
    color: #f10000;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 8px;
    box-shadow: 0px 0px 2px 2px #da49d2;
}

.tab {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    align-items: center;
    justify-content: center;
}

.tabheader {
    width: 100%;
    padding: 12px 12px;
    display: flex;
    justify-content: space-between;
}

  /* Style the buttons that are used to open the tab content */
.tabbutton {
    border-radius: 3px;
    background-color: transparent;
    border-style: inset;
    border-color: transparent;
    cursor: pointer;
    width: 100%;
    transition-duration: 0.5s;
}
  
  /* Change background color of buttons on hover */
.tabbutton:hover {
    background-color: #c51ffa;
}
  
/* Create an active/current tablink class */
.tabbutton-active {
    background-color: #da49d2;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    margin: 2px;
    transition-duration: 0.5s;
}

.tabbutton-active:hover {
    background-color: #e5a2e2;
}

.tabbutton-active:disabled {
    background-color: #3a1344;
    color: #999999;
}

.tabbutton-active:disabled:hover {
    background-color: #3a1344;
    box-shadow: 0px 0px 2px 2px #da49d2;
}

/* Style the tab content */
.tabcontent {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #4f2068;
    border-radius: 12px;
    padding: 12px;
    border-top: none;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 16px 16px #e5a2e2;
    color: #e5a2e2;
}

.tabcontent .inactive {
    display: none;
}

.button-edit-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.visibilitytab {
    display: flex;
}

.visibilitytab .inactive{
    display: none;
}

.horizontal {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 1px;
}

.vertical {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: stretch;
    margin: 2px;
}

.table-like {
    margin: 4px;
    background: #3a1344;
    border-radius: 10px;
    border-style: solid;
    border-color: #2a1344;
    flex-direction: column;
    display: flex;
    align-items: end;
    color: #e5a2e2
}

.token-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.token-list {
    margin: 4px;
    background: #e5a2e2;
    border-radius: 10px;
    border-style: none;
    flex-direction: column;
    display: flex;
    float: inherit;
    align-items: stretch;
    color: #2a1344;
    min-width: 200px;
    position: absolute;
}

.token-item {
    background: #e5a2e2;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    color: #2a1344;
}

.token-item:hover {
    background-color: #b967de;
}

.label {
    color: #f1f1f1;
    margin: 2px;
    font-family: monospace;
    display: flex;
}

.label-attention {
    display: flex;
    align-items: stretch;
    border-radius: 6px;
    padding: 6px;
    background: #da498f;
    flex-direction: column;
    font-family: monospace;
    margin: 8px;
    color: #4f2068;
    width: 100%;
    box-shadow: 0px 0px 3px 3px #e5a2e2;
}



.copy-button {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    background-color: #da49d2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px;
    transition-duration: 0.5s;
    margin: 4px;
    box-shadow: 0px 0px 2px 2px #da49d2;
}

.copy-button:disabled {
    background-color: #3a1344;
    color: #999999;
}


.copy-button:enabled:hover {
    background-color: #e5a2e2;
    box-shadow: 0px 0px 5px 5px #e5a2e2;
}
