@import './reset.css';

html, body {
    background-color: #303030;
    color: #ffffff;
}

:root {
    --background: #636983;
    --active: #e5a2e2;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    background-color: var(--background);
    background-size: 100vw
}

label {
    font-family: monospace;
}

.mainwindow {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
}

.walletbutton {
    align-content: center;
    display: flex;
    justify-content: right;
    height: 5vh;
}

input {
    font-family: monospace;
    border-color: transparent;
    border-radius: 2px;
    margin: 0 2px;
    transition-duration: 0.5s;
    width: 100%;
}

div[class~='datalist'] {
    display: flex;
    min-width: 60px;
    max-width: 60px;
}

input:focus {
    box-shadow: 0px 0px 4px 4px #ffffff;
}

input:read-write {
    background: #b967de;
}

input:read-only {
    background: transparent;
    color: #ffffff;
}

input[class~="invalid"] {
    background: #3a1344;
    box-shadow: 0px 0px 4px 4px #f10000;
    color: #f10000;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 2px;
    box-shadow: 0px 0px 2px 2px #da49d2;
}

.tab {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    align-items: center;
    justify-content: center;
}

.tabheader {
    width: 100%;
    padding: 12px 12px;
    display: flex;
    justify-content: space-between;
}

  /* Style the buttons that are used to open the tab content */
.tabbutton {
    border-radius: 2px;
    background-color: rgba(84, 42, 175, 0.53);
    border-style: inset;
    border-color: transparent;
    cursor: pointer;
    width: 100%;
    transition-duration: 0.5s;
    margin: 2px;
}
  
  /* Change background color of buttons on hover */
.tabbutton:hover {
    background-color: #c51ffa;
}

/* Create an active/current tablink class */
.tabbutton-active {
    border-radius: 2px;
    background-color: #da49d2;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
    transition-duration: 0.5s;
    margin: 2px;
}

.tabbutton-active:hover {
    background-color: #e5a2e2;
}

.tabbutton-active:disabled {
    background-color: #3a1344;
    color: #999999;
}

.tabbutton-active:disabled:hover {
    background-color: #3a1344;
}

/* Style the tab content */
.tabcontent {
    margin: 20px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: #636983;
    border-radius: 12px;
    padding: 12px;
    transition-duration: 0.5s;
    box-shadow: 0px 0px 16px 16px #e5a2e2;
    color: #e5a2e2;
}

.tabcontent .inactive {
    display: none;
}

.button-edit-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.visibilitytab {
    display: block;
    margin: 0 1px;
}

.visibilitytab .inactive{
    display: none;
}

.horizontal {
    flex-direction: row;
    display: flex;
    align-items: center;
    margin: 2px;
    width: 100%
}

.vertical {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-items: stretch;
    margin: 2px;
}

.table-like {
    background: #3a1344;
    border-radius: 10px;
    border-style: solid;
    border-color: #2a1344;
    flex-direction: column;
    display: flex;
    align-items: end;
    padding: 5px;
    color: #e5a2e2
}

.token-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 3px 2px;
}

.token-list {
    margin: 2px;
    background: #e5a2e2;
    border-radius: 10px;
    border-style: none;
    flex-direction: column;
    display: flex;
    float: inherit;
    align-items: stretch;
    color: #2a1344;
    position: absolute;
}

.token-item {
    background: #e5a2e2;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    display: table;
    color: #2a1344;
}

.token-item:hover {
    background-color: #b967de;
}

.label {
    color: #f1f1f1;
    margin: 2px;
    font-family: monospace;
    display: flex;
}

.label-attention {
    display: flex;
    align-items: stretch;
    border-radius: 6px;
    padding: 6px;
    background: #da498f;
    flex-direction: column;
    font-family: monospace;
    margin: 2px;
    color: #4f2068;
    width: 100%;
    box-shadow: 0px 0px 3px 3px #e5a2e2;
}



.copy-button {
    width: 25px;
    height: 25px;
    background-color: #da49d2;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px;
    transition-duration: 0.5s;
    margin: 2px;
}

.copy-button:disabled {
    background-color: #3a1344;
    color: #999999;
}


.copy-button:enabled:hover {
    background-color: #e5a2e2;
}

button[class='fixed'] {
    border-radius: 2px;
    background-color: #da49d2;
    border: none;
    outline: none;
    cursor: pointer;
    max-width: 80px;
    min-width: 80px;
    transition-duration: 0.5s;
    margin: 0 2px;
}

button[class='fixed']:disabled {
    background-color: #3a1344;
    color: #999999;
}

button[class='fixed']:enabled:hover {
    background-color: #e5a2e2;
}

.token-box label {
    max-width: 40px;
    min-width: 40px;
}

div[class='error-message'] {
    background-color: #ffa98a;
    float: inherit;
    position: absolute;
    color: red;
    border-style: solid;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
}

div[class='error-message']:hover {
    background-color: #ffec8a;
}

div[class='error-message-inactive'] {
    display: none;
}

.order-list {
    overflow-y: auto;
}

.order-list-header {
    background: #777777;
}

.order-list-item:hover {
    background: #512da8;
    cursor: pointer;
}

.order-list-item-element {
    padding: 0 20px;
}
